@charset "UTF-8";
*, input, textarea {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  transition: 250ms; }

.container {
  max-width: 780px;
  margin: 0 auto; }

.error {
  position: absolute;
  background-color: #ff4f4f;
  bottom: 0;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  left: 0; }
  .error.hidden {
    left: -999px; }

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  position: relative; }
  .jumbotron .jbgi {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/map.jpg);
    background-color: #999;
    background-position: left;
    z-index: -2;
    background-size: cover;
    animation: backgroundP 5s cubic-bezier(0.38, 0.84, 0.65, 0.09) infinite; }
  .jumbotron .jbgg {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background 15s ease infinite; }
  .jumbotron.minimized {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    align-items: flex-start;
    height: auto;
    padding: 30px; }
    .jumbotron.minimized .jbgi {
      animation: backgroundP 5s cubic-bezier(0.38, 0.84, 0.65, 0.09) infinite; }
    .jumbotron.minimized .logo {
      display: none; }
  .jumbotron .loading {
    bottom: 0;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: #aaa; }
    .jumbotron .loading .bar {
      background-color: #007fff;
      height: 100%;
      position: absolute;
      right: 100%;
      animation: loading 1s infinite;
      animation-timing-function: cubic-bezier(0.05, 0.58, 0.97, 0.48); }
    .jumbotron .loading.hidden {
      display: none; }

.search *:focus {
  outline: none; }

.search .logo {
  text-align: center;
  margin: -30px 0 15px 0; }

.search input {
  width: 70vw;
  padding: 15px 20px;
  border: 0;
  background-color: #eee;
  color: #333;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  font-size: .9em; }
  .search input:focus, .search input:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); }

.results {
  padding-top: 120px; }
  .results.hidden {
    display: none; }
    .results.hidden .page-navigator {
      display: none; }
  .results .page-navigator {
    margin: 20px;
    display: flex;
    justify-content: space-between; }
    .results .page-navigator .prev button, .results .page-navigator .next button, .results .page-navigator .count {
      border: 0;
      background-color: #ddd;
      color: #333;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: .9em;
      text-align: center; }
    .results .page-navigator .prev button, .results .page-navigator .next button {
      cursor: pointer; }
      .results .page-navigator .prev button:hover, .results .page-navigator .next button:hover {
        background-color: #eee;
        color: #555; }
    .results .page-navigator .prev.hidden, .results .page-navigator .next.hidden {
      display: none; }
  .results .item {
    margin: 20px 0;
    display: flex; }
    .results .item .image .cover {
      min-width: 225px;
      min-height: 130px;
      background-color: #ccc;
      position: relative;
      background-size: cover;
      background-position-y: center; }
      .results .item .image .cover .duration {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: .8em;
        color: #fff;
        padding: 3px;
        background-color: rgba(0, 0, 0, 0.7); }
    .results .item .text {
      margin-left: 15px; }
      .results .item .text .title {
        font-size: 1em;
        font-weight: 700;
        text-align: justify; }
      .results .item .text .description {
        font-size: .8em;
        color: #999;
        margin: 10px 0;
        white-space: pre-line;
        word-break: break-all; }
        .results .item .text .description a {
          color: #7397ce; }
      .results .item .text .subtitles .subtitle {
        display: flex;
        padding: 3px 0; }
        .results .item .text .subtitles .subtitle .subtime a {
          text-decoration: none;
          display: block;
          background-color: #333;
          color: #bbb;
          font-size: .6em;
          padding: 5px 10px;
          border-radius: 15px;
          margin-right: 10px; }
        .results .item .text .subtitles .subtitle .subtext {
          flex-grow: 1;
          font-size: .9em; }
          .results .item .text .subtitles .subtitle .subtext .highlight {
            background-color: #fff200; }
    .results .item .buttons {
      text-align: right;
      padding: 10px 0; }
      .results .item .buttons button {
        border: 0;
        background-color: #222;
        color: #eee;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        font-size: .8em;
        letter-spacing: 1px; }
        .results .item .buttons button:hover {
          background-color: #555;
          color: #ccc;
          letter-spacing: 2px; }

.about {
  overflow: auto;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  padding: 30px; }
  .about.hidden {
    display: none; }
  .about .baseline {
    display: flex;
    max-width: 1200px;
    margin: 0 auto; }
    .about .baseline .left .image {
      width: 400px;
      height: 225px;
      background-color: #ccc;
      background-size: cover;
      background-position-y: center; }
    .about .baseline .left .author {
      font-size: 1.1em;
      font-weight: 700;
      margin: 10px 0;
      color: #333; }
    .about .baseline .left .tags {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      font-size: .8em; }
      .about .baseline .left .tags .tag {
        background-color: #ccc;
        color: #333;
        margin: 3px;
        padding: 5px 10px;
        border-radius: 15px; }
    .about .baseline .right {
      margin-left: 30px;
      flex-grow: 1; }
      .about .baseline .right .title {
        font-weight: 700;
        font-size: 1.5em; }
        .about .baseline .right .title a img {
          width: 1.5em;
          margin-bottom: -5px; }
          .about .baseline .right .title a img:hover {
            filter: invert(0.2); }
      .about .baseline .right .description {
        white-space: pre-line;
        word-break: break-all;
        font-size: .9em;
        color: #555;
        margin: 15px 0;
        letter-spacing: 1px;
        line-height: 1.4em; }
  .about .lower-line {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    .about .lower-line .subtitles {
      width: 49%;
      background-color: #eee;
      border-radius: 20px;
      padding: 15px;
      overflow: auto;
      height: 50vh; }
      .about .lower-line .subtitles .subtitle {
        display: flex;
        padding: 3px 0; }
        .about .lower-line .subtitles .subtitle .subtime a {
          display: block;
          text-decoration: none;
          background-color: #333;
          color: #bbb;
          font-size: .7em;
          padding: 5px 10px;
          border-radius: 15px;
          margin-right: 10px; }
        .about .lower-line .subtitles .subtitle .subtext {
          flex-grow: 1;
          font-size: .9em; }
          .about .lower-line .subtitles .subtitle .subtext .highlight {
            background-color: #fff200; }
    .about .lower-line .comments {
      width: 49%;
      background-color: #eee;
      border-radius: 20px;
      padding: 15px;
      overflow: auto;
      height: 50vh; }
      .about .lower-line .comments .comment {
        margin: 10px;
        padding: 10px; }
        .about .lower-line .comments .comment .info {
          display: flex;
          align-items: center; }
          .about .lower-line .comments .comment .info .avatar {
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.1em;
            font-weight: 900; }
          .about .lower-line .comments .comment .info .text {
            margin-left: 10px; }
            .about .lower-line .comments .comment .info .text .name {
              font-weight: 700; }
              .about .lower-line .comments .comment .info .text .name a, .about .lower-line .comments .comment .info .text .name a:link, .about .lower-line .comments .comment .info .text .name a:visited, .about .lower-line .comments .comment .info .text .name a:hover, .about .lower-line .comments .comment .info .text .name a:active {
                color: #080e23;
                text-decoration: none; }
              .about .lower-line .comments .comment .info .text .name a:hover {
                text-decoration: underline; }
            .about .lower-line .comments .comment .info .text .meta {
              display: flex;
              font-size: .8em; }
              .about .lower-line .comments .comment .info .text .meta .likes {
                margin-left: 10px; }
                .about .lower-line .comments .comment .info .text .meta .likes:before {
                  content: "👍"; }
              .about .lower-line .comments .comment .info .text .meta .edited {
                margin-left: 10px; }
        .about .lower-line .comments .comment .message {
          margin-top: 10px;
          word-break: break-all; }
        .about .lower-line .comments .comment .replies {
          margin-left: 20px; }
  .about .close {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    background-color: #ccc;
    color: #888;
    font-weight: 700;
    border-radius: 15px 0 0 0;
    cursor: pointer; }

@media screen and (max-width: 800px) {
  .jbgi {
    background-position: center !important;
    animation: none !important; }
  .logo img {
    width: 80%; }
  #search {
    width: 100%; }
  .results .item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px; }
    .results .item .text {
      margin: 15px 0 0 0; }
      .results .item .text .subtime {
        font-size: .6em; }
    .results .item .image {
      width: 100%;
      padding-top: 56.25%;
      position: relative; }
      .results .item .image .cover {
        top: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute; }
  .about {
    max-width: 100%;
    min-height: 100vh;
    padding: 0; }
    .about .image {
      width: 100% !important;
      padding-top: 56.25%;
      height: auto !important; }
    .about .baseline, .about .lower-line {
      flex-wrap: wrap !important; }
    .about .left {
      max-width: 100%;
      width: 100%; }
    .about .right, .about .author, .about .tags {
      padding: 10px;
      margin: 0 !important;
      max-width: 100%; }
    .about .subtitles, .about .comments {
      width: 100% !important;
      margin: 15px; }
    .about .comments {
      margin-top: 15px; } }

@keyframes loading {
  0% {
    width: 20%;
    right: 100%; }
  90% {
    width: 20%;
    right: 0; }
  100% {
    width: 0;
    right: 0; } }

@keyframes background {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes backgroundP {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }
