*, input, textarea {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  transition: 250ms;
}

.container{
  max-width: 780px;
  margin: 0 auto;
}

.error{
  position: absolute;
  background-color: #ff4f4f;
  bottom: 0;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  left: 0;
  &.hidden{
    left: -999px;
  }
}

.jumbotron {
  .jbgi{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/map.jpg);
    background-color: #999;
    background-position: left;
    z-index: -2;
    background-size: cover;
    animation: backgroundP 5s cubic-bezier(0.38, 0.84, 0.65, 0.09) infinite;
  }
  .jbgg{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: background 15s ease infinite;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  position: relative;
  &.minimized {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    align-items: flex-start;
    height: auto;
    padding: 30px;
    .jbgi{
      animation: backgroundP 5s cubic-bezier(0.38, 0.84, 0.65, 0.09) infinite;
    }
    .logo{
      display: none;
    }
  }
  .loading{
    bottom: 0;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: #aaa;
    .bar{
      background-color: #007fff;
      height: 100%;
      position: absolute;
      right: 100%;
      animation: loading 1s infinite;
      animation-timing-function: cubic-bezier(0.05, 0.58, 0.97, 0.48);
    }
    &.hidden{
      display: none;
    }
  }
}
.search{
  *:focus {
    outline: none;
  }
  .logo{
    text-align: center;
    margin: -30px 0 15px 0;
  }
  input{
    width: 70vw;
    padding: 15px 20px;
    border: 0;
    background-color: #eee;
    color: #333;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    font-size: .9em;
    &:focus, &:hover{
      box-shadow: 0 10px 15px rgba(0,0,0,.2);
    }
  }
}

.results{
  &.hidden{
    display: none;
    .page-navigator{
      display: none;
    }
  }
  padding-top: 120px;
  .page-navigator{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    .prev button, .next button, .count{
      border: 0;
      background-color: #ddd;
      color: #333;
      padding: 10px 20px;
      border-radius: 20px;
      font-size: .9em;
      text-align: center;
    }
    .prev button, .next button{
      cursor: pointer;
      &:hover{
        background-color: #eee;
        color: #555;
      }
    }
    .prev, .next {
      &.hidden{
        display: none;
      }
    }
  }
  // margin: 10px 0;
  .item {
    margin: 20px 0;
    display: flex;
    // .undercover{
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   z-index: -1;
    //   overflow: hidden;
    //   .overlay{
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(255, 255, 255, .8);
    //   }
    //   .image{
    //     z-index: -3;
    //     position: absolute;
    //     width: 130%;
    //     height: 130%;
    //     background-size: cover;
    //     filter: blur(30px);
    //     top: -50px;
    //     left: -50px;
    //   }
    // }
    .image .cover{
      min-width: 225px;
      min-height: 130px;
      background-color: #ccc;
      position: relative;
      background-size: cover;
      background-position-y: center;
      .duration{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: .8em;
        color: #fff;
        padding: 3px;
        background-color: rgba(0,0,0,.7);
      }
    }
    .text{
      margin-left: 15px;
      .title{
        font-size: 1em;
        font-weight: 700;
        text-align: justify;
      }
      .description{
        font-size: .8em;
        color: #999;
        margin: 10px 0;
        white-space: pre-line;
        word-break: break-all;
        a {
          color: #7397ce;
        }
      }
      .subtitles{
        .subtitle{
          display: flex;
          padding: 3px 0;
          .subtime a{
            text-decoration: none;
            display: block;
            background-color: #333;
            color: #bbb;
            font-size: .6em;
            padding: 5px 10px;
            border-radius: 15px;
            margin-right: 10px;
          }
          .subtext{
            flex-grow: 1;
            font-size: .9em;
            .highlight{
              background-color: #fff200;
            }
          }
        }
      }
    }
    .buttons{
      text-align: right;
      padding: 10px 0;
      button{
        border: 0;
        background-color: #222;
        color: #eee;
        padding: 10px 20px;
        // border-radius: 30px;
        cursor: pointer;
        width: 100%;
        font-size: .8em;
        letter-spacing: 1px;
        &:hover{
          background-color: #555;
          color: #ccc;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.about{
  &.hidden{
    display: none;
  }
  overflow: auto;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 1.9);
  padding: 30px;
  .baseline{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    .left{
      .image{
        width: 400px;
        height: 225px;
        background-color: #ccc;
        background-size: cover;
        background-position-y: center;
      }
      .author{
        font-size: 1.1em;
        font-weight: 700;
        margin: 10px 0;
        color: #333;
      }
      .tags{
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        font-size: .8em;
        .tag{
          background-color: #ccc;
          color: #333;
          margin: 3px;
          padding: 5px 10px;
          border-radius: 15px;
        }
      }
    }
    .right{
      margin-left: 30px;
      flex-grow: 1;
      .title{
        font-weight: 700;
        font-size: 1.5em;
        a img{
          width: 1.5em;
          margin-bottom: -5px;
          &:hover{
            filter: invert(.2);
          }
        }
      }
      .description{
        white-space: pre-line;
        word-break: break-all;
        font-size: .9em;
        color: #555;
        margin: 15px 0;
        letter-spacing: 1px;
        line-height: 1.4em;
      }
    }
  }
  .lower-line{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    .subtitles {
      width: 49%;
      background-color: #eee;
      border-radius: 20px;
      padding: 15px;
      overflow: auto;
      height: 50vh;
      .subtitle{
        display: flex;
        padding: 3px 0;
        .subtime a{
          display: block;
          text-decoration: none;
          background-color: #333;
          color: #bbb;
          font-size: .7em;
          padding: 5px 10px;
          border-radius: 15px;
          margin-right: 10px;
        }
        .subtext{
          flex-grow: 1;
          font-size: .9em;
          .highlight{
            background-color: #fff200;
          }
        }
      }
    }
    .comments {
      width: 49%;
      background-color: #eee;
      border-radius: 20px;
      padding: 15px;
      overflow: auto;
      height: 50vh;
      .comment{
        margin: 10px;
        padding: 10px;
        .info{
          display: flex;
          align-items: center;
          .avatar {
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255,255,255,.5);
            font-size: 1.1em;
            font-weight: 900;
          }
          .text{
            margin-left: 10px;
            .name{
              font-weight: 700;
              a{
                &, &:link, &:visited, &:hover, &:active{
                  color: #080e23;
                  text-decoration: none;
                }
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .meta{
              display: flex;
              font-size: .8em;
              .likes{
                margin-left: 10px;
                &:before{
                  content: "👍";
                }
              }
              .edited {
                margin-left: 10px;
              }
            }
          }
        }
        .message{
          margin-top: 10px;
          word-break: break-all;
        }
        .replies{
          margin-left: 20px;
        }
      }
    }
  }
  .close{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    background-color: #ccc;
    color: #888;
    font-weight: 700;
    border-radius: 15px 0 0 0 ;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px){
  .jbgi{
    background-position: center !important;
    animation: none !important;
  }
  .logo img{
    width: 80%;
  }
  #search {
    width: 100%;
  }
  .results .item{
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    .text{
      margin: 15px 0 0 0;
      .subtime{
        font-size: .6em;
      }
    }
    .image{
      width: 100%;
      padding-top: 56.25%;
      position: relative;
      .cover{
        top: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
      }
    }
  }
  .about{
    max-width: 100%;
    min-height: 100vh;
    padding: 0;
    .image{
      width: 100% !important;
      padding-top: 56.25%;
      height: auto !important;
    }
    .baseline, .lower-line{
      flex-wrap: wrap !important;
    }
    .left{
      max-width: 100%;
      width: 100%;
    }
    .right, .author, .tags{
      padding: 10px;
      margin: 0 !important;
      max-width: 100%;
    }
    .subtitles, .comments{
      width: 100% !important;
      margin: 15px;
    }
    .comments{
      margin-top: 15px;
    }
  }
}


@keyframes loading {
    0% {width: 20%; right: 100%;}
    90% {width: 20%; right: 0}
    100% {width: 0; right: 0}
}

@keyframes background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes backgroundP {
  0% {background-position: left;}
  50% {background-position: right;}
  100% {background-position: left;}
}